
ul.progress-stat-bar {
    width: 100%;
    background: $color-other;
    
    &.progress-stat-bar-slim li { 
        height: 4px;
    }
    
    li {
        width: 0;
        height: 50px;
        text-align: right;
        
        transition: width 1s;
        
        &.bar-progress-right { text-align: right; }
        &.bar-progress-leftt { text-align: left; }
        
        &.dem { background: $color-dem; }
        &.rep { background: $color-rep; }
        &.other { background: $color-ind; }
    }
}

.bop-group {
    clear: both;
    position: relative;
    font-family: "Futura Today", "arial";
    line-height: 1;
    .text-left,
    .text-right {
        p, .num {
            display: inline-block;
            margin-bottom: 4px;
            color: #656565;
        }
        .num {
            min-width: 34px;
        }
        .votes {
            font-family: $font-heading-normal;
        }
    }
    .text-left {
        p {
            float: left; 
        }
        .name {
            color: $color-dem;
        }
        .num {
            float: left;
        }
    }
    .text-right {
        padding-left: 0;
        p {
            float: right; 
        }
        .name {
            color: $color-rep;
        }
        .num {
            float: right;
        }
    }
    .text-center {
        padding-left: 0;
        padding-right: 0;
    }
    .desc-all,
    .desc-individual {
        margin-top: 4px;
        margin-bottom: 20px;
    }

    .bop-group-num-left {
        color: $color-dem;
        .party-label { 
            font-size: 1.25em;
            font-family: "Futura Today Light", "arial";
        }
    }

    .bop-group-num-right {
        color: $color-rep;
        .party-label { 
            font-size: 1.25em;
            font-family: "Futura Today Light", "arial";
        }
    }
    
    .bop-group-winner {
        background: url("../img/spritesheet.png") no-repeat 0px -340px;
        display: none;
        width: 30px;
        height:px;
    }
}

.bar-progress-right, .bop-group-num-right { 
    float: right;
}

.bop-group-desc {
    
    font-size: smaller;
    
    ul.progress-stat-bar { 
        margin-top: 2px;
    }
    
    .num, .name {
        font-size: 2em;;
    }

    .name {
        margin-bottom: 4px;
        font-family: $font-heading-normal;
    }
    
    .num {
        font-family: $font-heading;
    }

    .text-right {
        padding-right: 0px;
        text-align: right;
    }
    .text-left {
        padding-left: 0px;
    }
}

.bop-group-num {
    margin-bottom: 8px;
    text-transform: uppercase;
    .num {
        font-size: 2.5em;
    }

    .rep {
        color: #742b31;
    }
    @include tablet-min {
        .num {
            font-size: 3em;    
        }
    }
}

.fifty-line {
    position: absolute;
    width: 1px;
    height: 56px;
    display: block;
    background: #6B6B6B;
    top: 0;
    left: 50%;
    margin: 0 0 0 -1px;
    z-index: 2;
}

.progress-stat-bar {
    padding-left: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    font-size: smaller;
}

.updated {
    font-size: smaller;
    color: #656565;
}

span.icon-dem-right {
    font-size: 32px;
    color: #547A8A;
    position: absolute;
    margin-top: 9px;
    margin-left: 9px;
    left: 0;
}

span.icon-rep-left {
    font-size: 32px;
    color: #8F6468;
    position: absolute;
    margin-left: 474px;
    margin-top: 9px;
    right: 10px;
}
@include breakpointMax(350) {
    #election-app.oembed {
        .bop-group-desc .desc-all {
            .text-left > *, .text-right > * { display: none; }
        }
        .bop-group-num { margin-bottom: 0 }
    }
}

@include breakpointMax(450) {
    #election-app.oembed {

        .bop-group-num .num { font-size: 20px; }
        .bop-group-desc { 
            font-size: 0.5em;
            .text-left { 
                font-size: 10px;
                padding-top: 0;
            }
            .text-right { 
                font-size: 10px;
                padding-top: 0;
            }
            .num { font-size: 1.5em; }
            .current-seats-label { font-size: smaller; }
            .name { font-size: 1.2em; }
        }
    }
}