#list table.result-item {
	border: none;
	margin: 10px 0 0;
	width: 100%;

    tbody {
		float: left;
	    border: 1px solid #dadada;
	    margin: 20px 10px 10px 0;
	    padding: 0 20px 20px;
	    background: #fff;
	    position: relative;
	    width: 100%;
    }
    
    th {
		margin: 10px 0 0;
		width: 100%;
		background: none;
		border: none;
		position: relative;
	}

	tr {
		width: 100%;
		display: inline-table;
		position: relative;	
	}

	.result-first-row {
		top: -30px;
		margin: 0;
	}

	.result-first-row th.district-name {
		text-transform: uppercase;
		width: 50%;
		left: -15px;
	}

	.result-first-row th.reporting {
		font-size: 11px;
		color: #808080;
		font-weight: 100;
		text-align: right;
		right: -15px;
	}	

	.result-name {
		width: 160px;
		padding: 0 10px 0 0;
		text-align: right;
	}

	.result-win {
		width: 50px;
		text-align: right;
	}

	.result-votes {
		padding: 5px;				
		text-align: right;
	}

	.democratic .result-votes {
        background: linear-gradient(to right, $color-dem 0%, $color-dem 100%) no-repeat;
	}

	.republican .result-votes {        
		background: linear-gradient(to right, $color-rep 0%, $color-rep 100%) no-repeat;        
	}	

	.other .result-votes {
        background: linear-gradient(to right, $color-other 0%, $color-other 100%) no-repeat;
	}

    .initiative-name {
        text-align: left;
    }
}

#election-content .result-item a {
	color: #000;
}

#election-content h1.race-state {
	font: 100 20px 'futura today', helvetica, arial, sans-serif;
}

/*#list table.result-item:nth-child(2n) {
	margin: 10px 0 10px 10px;
}*/

#list table.result-item:nth-child(2n+3) {
	clear: left;
}

#list table.result-item tbody:after {
	content: "";
	position: absolute;
	z-index: -1;		
	-webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
	bottom: 0px;
	width: 80%;
	height: 50%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	left: 10%;
	right: 10%;
};

#election-content .house-card-deck .card-item {
	height: 150px;
	background: #F5F5F5;
	margin: 4px;
	padding: 0;
	max-width: 117px;
	border: 1px solid #DADADA;
	text-align: center;
	font: 100 16px 'futura today', helvetica, arial, sans-serif;		
}
#election-content .house-card-deck .card-item a {
	color: #000;
	width: 100%;
	display: inline-block;
	padding-top: 30px;
	height: 100%;
}	
.num-races {
	display: inline-block;
	width: 100%;
	padding: 8px 0 0;
	font-size: 38px;
}	

@media only screen and (max-width: 400px) {
	#election-content .house-card-deck .card-item.col-xs-3 {
		width: 21%;
		height: 135px;
		margin: 7px;
		font-size: 11px;
		padding-top: 24px;
	}
}

@media only screen and (max-width: 768px) {
		#list table.result-item {
		    width: 100%;
		}
		#list table.result-item:nth-child(2n) {
		    margin: 10px 10px 10px 0;
		}		
		#list table.result-item tbody:after {
			-webkit-box-shadow: none;
			box-shadow: none;
		}
}	

