#list table.result-item {
	float: left;
    width: 48%;
    min-height: 150px;
    border: 1px solid #dadada;
    margin: 10px 10px 10px 0;
    background: #fff;
    position: relative;

    tbody {
    	display: block;
		padding: 20px;
    }
    
    th {
		margin: 10px 0 0;
		width: 100%;
		background: none;
	}

	tr {
		width: 100%;
		display: inline-table;
		font: normal 14px/2em 'futura today', helvetica, arial, sans-serif;
		position: relative;	
	}

	.result-first-row th:first-child {
		text-transform: uppercase;
		font: bold 12px 'futura today', arial, sans-serif;
		width: 50%;
	}

	.result-first-row th:last-child {
		font-size: 11px;
		color: #808080;
		font-weight: 100;
		text-align: right;
	}	

	.result-name {
		float: left;
		z-index: 1;
		position: relative;
		width: 50%;
		text-overflow: clip;
	}

	.result-win {
		text-align: right;
		float: right;
		position: relative;
		z-index: 1;
		width: 12%;
		font-size: 12px;
	}

	.result-votes {
		position: relative;
		z-index: 1;
		text-align: right;
		float: right;
		margin-right: 30px;
		font-size: 12px;		
	}

	.candidate:after {
		content: '';
		display: block;
		position: absolute;
		padding: 10px;
		width: 50%;
		right: 0;
		top: 3px;
		background: #D4DDE1;		
	}	

}

#list table.result-item:nth-child(2n) {
	margin: 10px 0 10px 10px;
}

	#list table.result-item:after {
		content: "";
		position: absolute;
		z-index: -1;		
		-webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
		box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
		bottom: 0px;
		width: 80%;
		height: 50%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		left: 10%;
		right: 10%;
	};

@media only screen and (max-width: 768px) {
		#list table.result-item {
		    width: 100%;
		}
		#list table.result-item:nth-child(2n) {
		    margin: 10px 10px 10px 0;
		}		
}	