#main-map text {
  text-shadow: 1px 0px   0px rgba(255,255,255,0.95),
               0px 1px   0px rgba(255,255,255,0.95),
               -1px 0px  0px rgba(255,255,255,0.95),
               0px -1px  0px rgba(255,255,255,0.95);
  pointer-events: none;
}

#main-map circle {
  pointer-events: none;
}

#map-tooltip {
  filter: alpha(opacity=100);
  padding: 10px;
  width: 300px;
  background-color: rgba(256,256,256,1);
  @include vendor-prefix(box-shadow, 0px 1px 4px rgba(0,0,0,0.25));
  .map-tooltip-heading {
    font-family: $font-heading-bold;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
  }
  .table {
    th, td {
      font-family: $font-heading-normal;
    }
    thead th {
      border-bottom: 1px solid $color-stroke;
    }
    thead th.percent {
      text-align: right;
    }
    tbody td {
      border-top: none;
      .won {
        position: relative;
        top: -2px;
        width: 6px;
        height: 6px;
        margin-left: 6px;
        display: inline-block;
        background-color: #8dc63f;
        @include vendor-prefix(border-radius, 10px);
      }
    }
  }

}

#elections-map-legend {
  margin-bottom: 20px;
  .elections-map-legend-list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      margin-left: 14px;
      font-family: $font-heading;
      font-size: 11px;
      text-transform: uppercase;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .elections-map-legend-icon {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 4px;
    @include vendor-prefix(border-radius, 10px);
    &.emli-no-el { background-color: $color-no-election; }
    &.emli-safe-d { background-color: $color-dem; }
    &.emli-lean-d{ background-color: $color-lean-dem; }
    &.emli-lean-r { background-color: $color-lean-rep; }
    &.emli-safe-r { background-color: $color-rep; }
    &.emli-lean-ind { background-color: $color-lean-ind; }
    &.emli-ind { background-color: #999999; }
  }
}