#main-map {
	
	.map-btn {
		display: inline-block;
		width: 38px;
		height: 38px;
		text-indent: -10000px;
		background: white;
		border: 1px solid #c1c1c1;
		border-radius: 20px;
		background-image: url("../img/spritesheet.png");		
	}

	.go-back {
		display: none;
	}

	.state-list-btn {
		
	}

	.state-list-dropdown {
		top: auto;
		z-index: 1100;
		height: 200px;
		overflow: scroll;
	}

	.state-list-link {
		color: #333;
	}	

}