.election-results-nav {
    
    a { text-decoration: none; }
    
    li { 
        display: inline-block;
        border: 1px solid #333;
        padding: 5px;
    }
}

.election-results-nav-selected {

    background: #333;
    border: 1px solid #ccc;
    
    
    a { color: #fff; }
    a:visited { color: #eee; }
}

#elections-bar.elections-bar-mobile.pagetype-office {
background-color: rgba(0, 0, 0, 0);
border-bottom: none;
}
#elections-bar.elections-bar-mobile {
padding-top: 110px;
}
#elections-bar {
position: relative;
z-index: 0;
min-height: 160px;
margin-bottom: 40px;
border-bottom: 1px solid #DADADA;
padding-top: 60px;
background-color: #FAFAFA;
}

#elections-bar-nav .flex-group-container {
display: table-row;
}

#elections-bar-nav.elections-bar-nav-mobile {
position: fixed;
top: 50px;
left: 0;
z-index: 499;
width: 100%;
height: 50px;
background-color: #2C2C2C;
}

#elections-bar-nav.elections-bar-nav-mobile .elections-bar-nav-item {
height: 50px;
border-right: 1px solid #565656;
}
#elections-bar-nav .flex-group {
display: table-cell;
width: 100%;
float: none;
}