
.updates-feed-heading {
    margin: 0 0 20px;
    font-family: $font-heading;
    font-size: 26px;
}

.update-card {
    margin: 0.5em 0 0.5em 0;

    .update-card-header {
        background: #f4f4f4 url('../img/spritesheet.png') no-repeat -76px 0px;
        padding: 0.5em 0.75em 0.5em 2.5em;
        font-family: $font-heading-normal;
        strong {
            text-transform: uppercase;
        }
        
        .updateTime { 
            display: block;
            float: right;
            font-size: 12px;
            font-family: $font-heading;
        }
    }
    
    .update-cards {
        border-bottom: 1px solid #d9d9d9;
        border-left: 1px solid #d9d9d9;
        border-right: 1px solid #d9d9d9;
    }

    .update-card-item {
        padding: 1em;
        border-top: 1px solid #d9d9d9;
        
        .update-location { font-weight: bold; }
    }

}