@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";

@import "base.scss";
@import "nav.scss";
@import "overlay.scss";

@import "balanceChart.scss";
@import "updatesFeed.scss";

#list table {
    width: 100%;
    border: 1px solid #333;
    
    th {
        border-bottom: 1px solid #333;
    }
}

.asset {
    width: 100%;
    padding: 0;
    background: none;
    background-color: white;
}

#election-app {
    margin-top: 275px;
}

#election-app.oembed {
    margin-top: 0px;
}

#ad-desktop {
    background: #ccc;
    width: 300px;
    height: 250px;
    text-align: center;
    padding-top: 100px;
}

#ad-mobile {
    background: #ccc;
    width: 320px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
}