@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";

@import "base.scss";
@import "nav.scss";
@import "overlay.scss";
@import "layout.scss";

#list table {
    width: 100%;
    border: 1px solid #333;
    
    th {
        border-bottom: 1px solid #333;
    }
}
